@use "base/variables" as v;
@use "base/mixins" as m;

.albums {
	//
	position: relative;

	&__heading {
		@include m.heading;
	}

	&__heading--text {
		@include m.text;
	}

	&__grid {
		@include m.grid(1, 2rem);

		@include m.tablet {
			@include m.grid(2, 2rem);
		}

		@include m.desktop {
			@include m.grid(3, 2rem);
		}

		@include m.desktopXL {
			@include m.grid(4, 2rem);
		}
	}
}

.album {
	//

	&__photo {
		margin: 0;
		transition: transform 0.3s ease-in-out;

		&:hover {
			transform: scale(1.1);
		}
	}

	&__image {
		height: 100%;
		object-fit: cover;
		width: 100%;

		&:hover {
			cursor: pointer;
			filter: grayscale(20%);
			transition: filter 0.3s;
		}
	}

	&__content {
		background-color: v.$white;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 2rem;
	}

	&__icon {
		font-size: 2rem;
		margin: 0;
	}
}
