// Fonts
$mainFont: "Roboto", sans-serif;

// Media Queries
$movil: 480px;
$tablet: 768px;
$desktop: 1024px;
$desktopxl: 1200px;

// Colors
$primary: #0784c9;
$secondary: #c7c57d;
$black: #111;
$white: #ffffff;
$gray: #aaa;
$lightGray: #ccc;
$heart: #cc1935;
$edit: #ff9436;
$success: #1ca836;
$delete: #ae152d;
$secondaryOpacity: rgb(57 70 89 / 0.7);
